<!DOCTYPE html>
<html>

<head>
  <title>Social Butterfly | Meet New People</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">

  <style>
    /***********************
  RAISED BUTTONS
  ************************/

    .btn-primary.raised {
      box-shadow: 0 3px 0 0 #007299;
    }

    .btn-primary.raised:active,
    .btn-primary.raised.active {
      background: #33a6cc;
      box-shadow: none;
      margin-bottom: -3px;
      margin-top: 3px;
    }
    /***********************
  CUSTON BTN VALUES
  ************************/

    .btn {
      border: 0 none;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
      outline: 0 none;
    }

    .btn-primary {
      background: #0099cc;
      color: #ffffff;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
      background: #33a6cc;
    }

    .btn-primary:active,
    .btn-primary.active {
      background: #007299;
      box-shadow: none;
    }

    .list-group li {
      list-style: none;
    }
    a[aria-expanded=true]::after {
      content: "-";
      display: inline-block;
      margin-left: 5px;
    }
    a[aria-expanded=false]::after {
      content: "+";
      display: inline-block;
      margin-left: 5px;
    }
  </style>

</head>

<body>
  {{!-- <div class="content-placeholder"></div> --}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index"><i class="fa fa-home fa-2x"></i></a>
        <h2 align="center" class="navbar-text">Challenge Yourself</h2>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Challenge Yourself<span class="sr-only"></span></a></li>
          <li><a href="connect"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Keep In Touch</a></li>
          <!--  <li><a href="events"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Go To Events</a></li> -->
          <li><a href="settings"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Account Settings</a></li>
          <li><a href="faq"><i class="fa fa-question"></i>&nbsp;&nbsp;&nbsp;Help and FAQ</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- /.navbar-collapse -->
  <!--
  <div class="new-goal-button">
    <a href="newActivity" class="btn btn-primary"><i class="fa fa-plus"></i></a>
  </div>
-->
  <!--
<div id = "addedTask">
  <p> You did it </p>
</div>
-->

  <div align="center">
    <div class="points">
      <h1> 453 POINTS </h1>
    </div>
  </div>

  <div align="center">
    <p><a onclick="activeClicked()" href="#" id="active-button" class="btn btn-primary btn-md" role="button">Active goals</a> <a onclick="completedClicked()" id="completed-button" href="#" class="btn btn-default btn-md" role="button">Completed goals</a></p>


  </div>

  <hr></hr>

  <div class="container">
    <!-- TASK ADD Button trigger modal -->
    <button id="add-new-button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-plus"></span> Add New Goal
    </button>
  </div>

  <hr></hr>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel">New Goal
          <button type="button" class="btn btn-danger btn-default pull-right" data-toggle="modal" data-target="#fail-save"> <span class="glyphicon glyphicon-remove"></span> Close</button>
        </h2>
        </div>

        <!-- START OF TASK ADD MODAL BODY-->

        <div class="modal-body">

          <div class="level-container" align="center">
            <div class="level-title">
              <label>
                <p>Level</p>
              </label>
            </div>

            <form action="meetNewPeople">
              <div class="level-selector" form="levelform">
                <select name="level-difficulty">
                  <option value="0">Easy</option>
                  <option value="1">Medium</option>
                  <option value="2">Hard</option>
                </select>
              </div>

              <br>

              <div class="activity-section">
                <label>
                  <p>Activity</p>
                </label>
                <input type="text" name="ActivityDescription" class="form-control" id="psw" placeholder="Enter new activity">
                <br>
              </div>
          </div>

          <p>
            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Add new goal</button>
          </p>
          </form>

        </div>

        <!-- END OF TASK ADD MODAL BODY -->
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!--START OF QUIT W/O SAVING MODAL-->
  <div class="modal fade" id="fail-save" tabindex="-1" role="dialog" aria-labelledby="task-success-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h3 style="color: #000000" class="modal-title" id="task-success-title"><span class="glyphicon glyphicon-remove-circle"></span> Wait!</h3>
        </div>
        <div class="modal-body" align="center">
          <h4>You haven't finished adding your goal.
<br>
<br>
          If you quit now, all data will be lost.</h4>
        </div>

        <div class="modal-footer">
          <a href="meetNewPeople" class="btn btn-default pull-left"> <span class="glyphicon glyphicon-arrow-left"></span> YES, go back to active goals</a>

          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"> <span class="glyphicon glyphicon-arrow-right"></span> NO, continue adding goal</button>
        </div>
        </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  </div>
  <div id="push"></div>

  <!-- END OF QUIT W/O SAVING MODAL-->

  <div class="panel-group" align="center">
    {{#each status}}
      <div id="{{statusType}}">
        {{#each activity}}

          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#{{statId}}{{level}}">{{level}} ({{difficultyPoints}} pts)</a>
        </h4>
            </div>
            <div id="{{statId}}{{level}}" class="panel-collapse collapse">
              <div class="easy-sublist">
                <br>
                {{#each descriptions}}
                  <button data-toggle="modal" data-target="#completeActivityModal{{id}}" class="btn complete-task-button"><i class="glyphicon glyphicon-unchecked"></i></button>
                  <div class="modal fade" id="completeActivityModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-remove-circle"></span> Wait!</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to mark task as completed?
                        </div>
                        <div class="modal-footer">
                          <form action="meetNewPeople">
                            <input type="hidden" name="idVal" value="{{id}}">
                            <input type="hidden" name="ActivityDescription" value="{{name}}">
                            <button type="submit" class="btn btn-primary pull-left">YES, mark as completed</button>
                          </form>
                          <a href="meetNewPeople">
                            <button type="button" class="btn btn-default pull-right">NO, close window</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{name}}
                  <br>
                  <button data-toggle="modal" data-target="#editActivityModal{{id}}" class="btn btn-primary edit-button"> Edit </button>

                  &nbsp;

                  <div class="modal fade" id="editActivityModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Goal</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden"="idVal" value="{{id}}">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="{{name}}" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button data-toggle="modal" data-target="#deleteActivityModal{{id}}" class="btn btn-danger delete-button"> Delete </button>

                  <div class="modal fade" id="deleteActivityModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Are you sure you want to delete goal? </h2>

                          <form action="meetNewPeople">
                            <div class="modal-footer">
                              <input type="hidden" name="idVal" value="{{id}}">
                              <button type="submit" class="btn btn-default pull-left"> <span class="glyphicon glyphicon"></span> YES, delete goal</button>
                          </form>
                          <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"> <span class="glyphicon glyphicont"></span> NO, go back to active goals</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr></hr>
                {{/each}}
              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}

  </div>

  <script type="text/javascript">
    // For ADDING NEW TASK-->
    var curList = 0;

    $(document).ready(function() {
      $("#completed-list").addClass("list-hide");
      $("#completed-list .list-checkbox").addClass("list-hide");
      $("#completed-list .edit-button").addClass("list-hide");
      $("#completed-list .delete-button").addClass("list-hide");
      $("#completed-list .complete-task-button").addClass("list-hide");
      $("#myBtn").click(function() {
        $("#myNewActivity").modal();
      });
      $('#addedTask').delay(2000).queue(function() {
        $(this).addClass("list-hide");
      });
      //expand all the menus
      $('.panel:nth-child(1)').find('a').trigger('click');
      $('.panel:nth-child(2)').find('a').trigger('click');
      $('.panel:nth-child(3)').find('a').trigger('click');
    });

    // for SUCCESSFULLY ADDING TASK -->
    $('#btnCancel').click(function() {
      $('#task-success').modal('toggle');
    });

    function completedClicked() {
      if (curList === 0) {
        curList = 1;
        $("#active-list").addClass("list-hide");
        $("#completed-list").removeClass("list-hide");
        $("#active-button").removeClass("btn-primary");
        $("#completed-button").addClass("btn-primary");
        $("#add-new-button").addClass("list-hide");
        //document.getElementById("completed-list").classList.remove("list-hide");
      }
    }


    function activeClicked() {


      if (curList === 1) {
        curList = 0;
        $("#active-list").removeClass("list-hide");
        $("#completed-list").addClass("list-hide");
        $("#active-button").addClass("btn-primary");
        $("#completed-button").removeClass("btn-primary");
        $("#add-new-button").removeClass("list-hide");
      }


    }
  </script>
  <!--
    <div class="modal fade" id="myCheckModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-remove-circle"></span> Wait!</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to mark task as completed?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">YES, mark as completed</button>
            <a href="meetNewPeople">
              <button type="button" class="btn btn-default pull-right">NO, close window</button>
            </a>
          </div>
        </div>
      </div>
-->
  <script>
    $('input:checkbox').change(function() {
      $(this).is(':checked') ? $('#myCheckModal').modal('show') : "";
    });
  </script>

</body>
